.homeContainer {

  background-size: cover;
  /* Add blur effect */
 /* Adjust the blur amount as needed */

  /* OR */

  /* Add darken color effect */
  background-color: rgba(248, 248, 248, 0.855); /* Adjust the opacity (0.6) for darkness */
}

.blur-effect {
  backdrop-filter: blur(8px); /* Adjust the blur amount as needed */
}

/* styles.module.css */

.signupContainer {

  background-image: url('/background/nars.jpg');
  background-size: cover;
}

.signinContainer {

  background-image: url('/background/nars.jpg');
  background-size: cover;
}

/* Additional styles can be added here for specific elements within the Signup component */
